:root {
  --light-pink: #dc5774;
  --background-grey: #eeeeee;
}

body {
  background-color: var(--background-grey);
}

#signup-form {
  margin-top: 2rem;
  display: grid;
  place-content: center;
  gap: 20px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: -5px -10px 10px 2px #d9d9d9, 5px 10px 15px 2px #d9d9d9,
    -5px 10px 10px 2px #d9d9d9, 5px -10px 15px 2px #d9d9d9;
}

#signup-form input {
  padding: 8px;
  border-radius: 3px;
  border: solid 1px var(--light-pink);
  outline: none;
}

#signup-form input::placeholder {
  font-size: 14px;
}

#signup-form button {
  background-color: var(--light-pink);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
}

#terms-label {
  font-size: 14px;
  color: var(--light-pink);
}

#terms-label input[type="checkbox"] {
  margin-right: 5px;
}

#signup-form h1 {
  color: var(--light-pink);
}

.container {
  display: grid;
  place-content: center;
  gap: 30px;
}

.container a {
  justify-self: center;
  font-size: 14px;
  color: var(--light-pink);
}

#radio-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: start;
  gap: 10px;
}

.radio-label span {
  font-size: 12xp;
  color: var(--light-pink);
  text-align: center;
}