:root {
  /* CSS variables */
  --padding: 60px 200px 60px 200px;
  --background-grey: #eeeeee;
  --light-grey: #7c7a7a;
  --light-red: #dc7957;
  --font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  .About-Us {
    background-color: red;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

/* Entry styling */
.entry {
  padding: var(--padding);
  display: flex;
  margin: 0 16px 40px 16px;
  position: relative;
}

.entry mark {
  padding: 10px;
  background-color: #f9fa9b;
  position: absolute;
  top: 0;
  width: 83%;
}

.entry mark a span {
  text-decoration: underline;
}

#entry-text {
  font-size: 13px;
  padding-right: 0;
}

.entry img {
  width: 65%;
  padding-left: 0;
}

#modern-technology {
  font-weight: 300;
  font-size: 30px;
  color: black;
  margin-bottom: 0;
}

#drone {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 96px;
  color: black;
}

.text {
  margin-top: 0;
  color: var(--light-grey);
  line-height: 18pt;
  font-size: var(--font-size);
}

.entry-and-about-us-button {
  margin-top: 16px;
  background-color: var(--light-red);
  border: none;
  height: 40px;
  width: 130px;
  font-size: var(--font-size);
  color: white;
  cursor: pointer;
}

.entry-and-about-us-button:hover {
  color: var(--background-grey);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* About Us styling */
.About-Us {
  background-color: var(--background-grey);
  display: flex;
  padding: var(--padding);
  padding-bottom: 100px;
  place-content: center;
  gap: 200px;
}

.section-header {
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 16px;
}

.section-header span {
  font-weight: 600;
}

.About-Subscribe-img {
  /* margin: auto; */
  width: 300px;
}

.About-Subscribe-img img {
  width: 100%;
  height: 100%;
}

.About-Us p {
  max-width: 55ch;
}

/* Explore section styling */
.explore {
  padding: var(--padding);
  display: grid;
  gap: 20px;
  place-content: center;
}

.explore img {
  width: 100%;
  height: 100%;
}

.explore-intro p {
  max-width: 80ch;
}

.explore-latest-article-cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.explore-latest-article-card {
  display: grid;
  grid-template-rows: 260px 200px;
}

.explore-latest-article-card-text {
  display: grid;
  grid-template-rows: auto 100px auto;
  place-content: center;
}

.explore-latest-article-card-text p {
  padding: 0 12px;
}

.card-header {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 16px;
  margin-top: 48px;
}

.explore-and-latest-article-button {
  margin-left: 8px;
  background: none;
  border: none;
  place-self: start;
  cursor: pointer;
  text-decoration: underline;
  color: var(--light-red);
  font-size: var(--font-size);
}

.explore-and-latest-article-button:hover {
  color: var(--light-grey);
  font-size: 16px;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.explore-other {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  place-content: center;
  margin-top: 100px;
}

.explore-other img {
  height: 100%;
}

.explore-other-more {
  display: grid;
  grid-template-rows: repeat(2, 280px);
  grid-template-columns: 300px;
  gap: 20px;
}

.explore-other-more-actions {
  position: relative;
}

.explore-other-more-actions-img {
  filter: brightness(0.6);
  position: absolute;
}

.explore-more-actions-info {
  position: absolute;
  z-index: 10;
  margin: 50px 40px;
}

.explore-more-actions-info h4 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 0 5px;
}

.explore-other-more-actions-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  gap: 10px;
  margin-top: 10px;
}

.explore-other-more-actions-buttons button {
  padding: 8px 13px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}

.explore-other-more-actions-buttons button:hover {
  scale: 1.2;
  transition-timing-function: ease-out;
  z-index: 10;
  transition-duration: 0.5s;
}

.explore-other-lm-btn {
  background-color: white;
  color: black;
  border: none;
  border: solid 1px white;
}

.explore-other-pn-btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

.explore-other-pn-btn:hover {
  background-color: white;
  color: black;
  border: none;
  border: solid 1px rgba(0, 0, 0, 0.6);
}

/* Latest article styling */
.latest-article {
  padding: var(--padding);
  background-color: var(--background-grey);
  display: grid;
  gap: 20px;
  place-content: center;
}

.latest-article img {
  width: 100%;
}

/* Subscribe us styling */
.Subscribe-Us {
  display: flex;
  padding: var(--padding);
  place-content: center;
  gap: 180px;
}

.Subscribe-Us .About-Subscribe-img {
  width: 300px;
}

.Subscribe-Us .About-Subscribe-img img {
  width: 100%;
  height: 100%;
}

#Subscribe-Us-Text p {
  max-width: 55ch;
}

#user-input-email {
  margin-right: -4px;
  height: 38px;
  width: 65%;
  border: none;
  background-color: var(--background-grey);
  outline: none;
}

#user-input-email::placeholder {
  font-size: 14px;
  padding: 5px;
}

#subscribe-us-title {
  font-size: 16px;
}

/* Subscribe us styling */
.Subscribe-Us {
  display: flex;
  padding: var(--padding);
}

#Subscribe-Us-Text p {
  max-width: 55ch;
}

#user-input-email {
  margin-right: -4px;
  height: 38px;
  width: 65%;
  border: none;
  background-color: var(--background-grey);
}

#subscribe-us-title {
  font-size: 16px;
}

/* Service info styling */
.service-info {
  padding: var(--padding);
  display: flex;
  justify-content: center;
  background-color: var(--background-grey);
}

.service-info-divs {
  display: flex;
}

.service-info-divs img {
  width: 40%;
}

.text-and-button p {
  font-size: 24px;
  font-weight: 400;
}

.text-and-button button {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 130px;
  font-size: var(--font-size);
}

.text-and-button button:hover {
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}